# Database
DATABASE_URL=postgresql+psycopg://preneuro:preneuro_dev@localhost:5433/preneuro

# Backend
BACKEND_CORS_ORIGINS=http://localhost:3000

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000/api
